{% extends 'base.html' %} 
{% block title %} 
    Manage Products 
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/productsM.css">
    {% if alertUser %}
    <script>
        window.onload=function(){
            alert("Set Threshold Value on Dashboard before Adding a Product.");
        }
    </script>
    {% endif %}
</head>

<body>
    <h2 class="heading">{{username}}'s Product Details</h1>
    <a class="addProd" id="button" href="{{url_for('.addProducts', username=username)}}">Add a Product</a>
    <table class="productsTable">
        <tr>
            <td><label class="info head">Product ID</label></td>
            <td><label class="info head">Product Name</label></td>
            <td><label class="info head">Available Stock</label></td>
            <td><label class="info head">To Add</label></td>
            <td><label class="info head">Add Stock</label></td>
            <td><label class="info head">To Remove</label></td>
            <td><label class="info head">Remove Stock</label></td>
            <td><label class="info head">Delete Stock</label></td>
        </tr>
        {% for product in products %}
        <tr>
            <td><label class="info">{{product['PRODUCTID']}}</label></td>
            <td><label class="info">{{product['PRODUCTNAME']}}</label></td>
            <td><label class="info">{{product['AVAILABLESTOCK']}}</label></td>
            <form method="POST"
                action="{{url_for('.editProduct', username=username, action='add', pid=product['PRODUCTID'])}}">
                <td>
                    <label class="info">
                        <input type="number" name="newstock" id="newstock" required />
                    </label>
                </td>
                <td>
                    <label class="info">
                        <input type="image" src="../static/add.png"/>
                    </label>
                </td>
            </form>
            <form method="POST"
                action="{{url_for('.editProduct', username=username, action='remove', pid=product['PRODUCTID'])}}">
                <td>
                    <label class="info">
                        <input type="number" name="newstock" id="newstock" required />
                    </label>
                </td>
                <td>
                    <label class="info">
                        <input type="image" src="../static/minus.png"/>
                    </label>
                </td>
            </form>
            <td>
                <label class="info">
                    <a class="delProd" href="{{url_for('.deleteProduct', username=username, pid=product['PRODUCTID'])}}">
                        <img src="../static/delete.png"/>
                    </a>
                </label>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
{% endblock content %}